// Global parameters
params {
    input = null
    ref_fasta = null
    bwa_index = null
    outdir = './results'
    // New parameter to control joint calling. Default is false.
    joint_calling = false

    // Container versions
    fastp_container = 'quay.io/biocontainers/fastp:0.24.2--hafa4716_0'
    bwa_mem2_container = 'quay.io/biocontainers/bwa-mem2:2.3--h5b5514e_2'
    samtools_container = 'quay.io/biocontainers/samtools:1.22--h50ea8bc_0'
    deepvariant_container = 'google/deepvariant:1.8.0'
    glnexus_container = 'quay.io/biocontainers/glnexus:1.4.1--h9ee0642_0'
    multiqc_container = 'quay.io/biocontainers/multiqc:1.30--pyhdfd78af_0'
}

// Executor configuration
executor {
    name = 'local'
    cpus = 2
    memory = '6.GB'
}

// Container and resource settings
process {
    // Default resources for any process
    cpus = 2
    memory = '6.GB'
    time = '1h'

    withName: FASTP {
        container = 'quay.io/biocontainers/fastp:0.24.2--hafa4716_0'
        cpus = 4
        memory = '8.GB'
        time = '2h'
    }

    withName: ALIGN_BWA_MEM2 {
        container = 'quay.io/biocontainers/bwa-mem2:2.3--h5b5514e_2'
        cpus = 16
        memory = '64.GB'
        time = '24h'
    }

    withName: MARK_DUPLICATES {
        container = 'quay.io/biocontainers/samtools:1.22--h50ea8bc_0'
        cpus = 8
        memory = '32.GB'
        time = '12h'
    }

    withName: DEEPVARIANT {
        container = 'google/deepvariant:1.8.0'
        cpus = 16
        memory = '64.GB'
        time = '48h'
    }

    withName: JOINT_CALLING_GLNEXUS {
        // This container includes GLnexus and bcftools
        container = 'quay.io/biocontainers/glnexus:1.4.1--h9ee0642_0'
        cpus = 8
        memory = '96.GB' // GLnexus can be very memory intensive
        time = '48h'
    }

    withName: MULTIQC {
        container = params.multiqc_container
        cpus = 1
        memory = '4.GB'
    }
}

// Profiles for different execution environments
profiles {
    standard {
        // Default profile, no container engine
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}
